name: Deploy Frontend to OVH

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Update Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd /home/deployer/ciltra-frontend
            git pull origin main
            npm install --legacy-peer-deps
            npm run build
            pm2 restart ciltra-frontend
